
#app {
  /* max-width: 1280px; */
  min-width: var(--min-width);
  width:100%;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

:root {
  --bg: #2196F3;
  --bg-hover: #0D89EC;
  --min-width: 650px;
  --min-width-editor: 1240px;
  --page-width: 490px;
  --page-width-two: 1060px;
  --page-height: 800px;
  --pages-gap: 80px;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.versionDialog {
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: 8px;
  margin:auto;
  color: darkslategrey;
}

.tile {
  position: relative;
  border: 1px solid darkgrey;
  font-family: Verdana, sans-serif;
  height: 265px;
  background: white;
  width:241px; /* 240px + 1px border*/
  overflow: hidden;
}


.content, .tileContent {
  width: 240px; 
  height: 240px;
  position: relative; /* Needed for absolute positioning fo children */
  /* border: 1px solid red; */
}

.contentPage {
  width: var(--page-width);
  height: var(--page-height);
  position: relative;
  border: 1px solid darkgray;
  background:white;
}

.editItem {
  font-size: 0.6rem;
  line-height: 1.5rem;
  text-align: right;
}


.actionBar {
  position:absolute;
  display: flex;
  justify-content: center;
  bottom: 5px;
  gap:5px;
  height: 1.5rem;
  width: 100%;
}

.actionBar .p-button {
  font-size: 0.8rem;
}

.actionDialog {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}

.noShow {
  visibility: hidden;
}

.redBorder {
  border: 1px solid red;
}

.gap-2 {
  gap: 0.5rem;
}

.justify {
  text-align: justify;
}

.left {
  text-align:left;
}

.ml-2 {
  margin-left: 0.5rem;
}
.ml-5 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-5 {
  margin-bottom: 2rem;
}
.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}
.mt-5 {
  margin-top: 2rem;
}

.bb {
  border-bottom: 1px dashed darkgrey;
}
.bl {
  border-left: 1px dashed darkgrey;
}
.br {
  border-right: 1px dashed darkgrey;
}
.bt {
  border-top: 1px dashed darkgrey;
}

.lh-2 {
  line-height: 2rem;
}

.attClimb {
    color: red;
}
.attCruise {
    color: darkgray;
}
.attDesc {
    color: green;
}

.attClimb {
    color: #400;
    background-color: rgba(255, 0, 0, 0.1);
}
.attCruise {
    color: #004;
    background-color: rgba(0, 0, 255, 0.1);
}
.attDescent {
    color: #040;
    background-color: rgba(0, 255, 0, 0.1);
}

