
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.clickable {
  cursor: pointer;
}

.versionDialog {
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: 8px;
  margin:auto;
  color: darkslategrey;
}


.content {
  width: 240px; 
  height: 200px;
  position: relative; /* Needed for absolute positioning fo children */
  /* border: 1px solid red; */
}

.contentPage {
  width: 485px;
  height: 730px;
  position: relative;
  border: 1px solid darkgray;
}

.editItem {
  font-size: 0.6rem;
  line-height: 1.5rem;
  text-align: right;
}


.actionBar {
  position:absolute;
  display: flex;
  justify-content: center;
  bottom: 5px;
  gap:5px;
  height: 1.5rem;
  width: 100%;
}

.actionBar .p-button {
  font-size: 0.8rem;
}

.actionDialog {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}

.redBorder {
  border: 1px solid red;
}

.tile {
  position: relative;
  border: 1px solid darkgrey;
  font-family: Verdana, sans-serif;
  width: 240px;
  height: 240px;
}


.gap-2 {
  gap: 0.5rem;
}

.justify {
  text-align: justify;
}

.left {
  text-align:left;
}

.ml-2 {
  margin-left: 0.5rem;
}
.ml-5 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-5 {
  margin-bottom: 2rem;
}
.mt-2 {
  margin-top: 0.5rem;
}

.mt-5 {
  margin-top: 2rem;
}

.bb {
  border-bottom: 1px dashed darkgrey;
}
.bl {
  border-left: 1px dashed darkgrey;
}
.br {
  border-right: 1px dashed darkgrey;
}
.bt {
  border-top: 1px dashed darkgrey;
}

