
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.clickable {
  cursor: pointer;
}

.version {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 8px;
  color: darkslategrey;
}

.content {
  width: 240px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  position: relative; /* Needed for absolute positioning */
  /* border: 1px solid red; */
}

.editItem {
  font-size: 0.6rem;
  line-height: 1.5rem;
  text-align: right;
}


.actionBar {
  position:absolute;
  display: flex;
  justify-content: center;
  bottom: 5px;
  gap:5px;
  height: 1.5rem;
  width: 100%;
}

.actionBar .p-button {
  font-size: 0.8rem;
}

.gap-2 {
  gap: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.bb {
  border-bottom: 1px dashed darkgrey;
}
.bl {
  border-left: 1px dashed darkgrey;
}
.br {
  border-right: 1px dashed darkgrey;
}
.bt {
  border-top: 1px dashed darkgrey;
}
