
#app {
  /* max-width: 1280px; */
  min-width: var(--min-width);
  width:100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  #app {
    min-width: unset;
  }
}

body {
  margin: 0;
  min-height: 100vh; 
}

@media (max-width: 500px) {
  body {
    transform: scale(calc(100vw / 500));
    transform-origin: 0 0;
    width: 500px;
  }
}

:root {
  --bg: #2196F3;
  --bg-choice-active: #b4c6e7;
  --bg-secondary: #607D8B;
  --bg-secondary-hover: #587583;
  
  --bg-hover: #0D89EC;
  --bg-public: #689F38;
  --bg-strip: #eef;
  --button-height: 38px;
  --min-width: 750px;
  --editor-min-width: 750px;
  --editor-btn-half: 19px;
  --header-height: 23px;
  --logo-font-size: 18px;
  --main-gap: 1rem;
  --menu-border-offset: 10px;
  --menu-height: 2rem;
  
  /* Kneeboard format (5.5x8.5) */
  --page-width: 500px;
  --page-width-two: 1050px;
  --page-height: 800px;
  
  /* Full page format (8.5x11) */
  --fullpage-width: 750px;
  --fullpage-height: 1050px;
  
  --page-content: calc(var(--page-height) - var(--header-height) - 1px);
  --fullpage-content: calc(var(--fullpage-height) - var(--header-height) - 1px);
  --pages-gap: 50px;
  --text-atc: #000088;
  --text-ctaf: #990099;
  --text-navaid: #006666;
  --text-weather: #666600;
  --tile-content-height: 240px;
  --tile-content-width: 247px;
  --tile-height: 265px;
  --tile-width: 249px;
  --tile-width-expanded: var(--page-width);
}

.clickable {
  cursor: pointer;
}

.flex {
  display:flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.tile {
  position: relative;
  border: 1px solid darkgrey;
  font-family: Verdana, sans-serif;
  height: var(--tile-height);
  background: white;
  width: var(--tile-width); 
  overflow: hidden;
}

.content, .tileContent {
  width: calc(var(--tile-width) - 2px); 
  height: var(--tile-content-height);
  position: relative; /* Needed for absolute positioning fo children */
}

.tileBoxLabel {
  position: absolute;
  left: 3px;
  top: 0;
  font-size: 10px;
}

.contentPage {
  position: relative;
  border: 1px solid darkgray;
  background:white;
  width: var(--page-width)
}

.contentPage.fullpage {
  width: var(--fullpage-width);
  height: var(--fullpage-height);
}

.contentPage.landscape {
  width: var(--fullpage-height);
  height: var(--fullpage-width);
}

.stripAction {
  position:absolute;
  display: flex;
  gap: 2px;
  top: 2px;
  right: 2px;
  z-index: 1;
}

.stripBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
}

.stripContent {
  position: relative;
  font-size: 13px;
}
.stripHeader {
  border-bottom: 1px dashed grey;
}

.editItem {
  font-size: 0.6rem;
  line-height: 1.5rem;
  text-align: right;
}


.actionBar {
  position:absolute;
  display: flex;
  justify-content: center;
  bottom: 5px;
  gap:5px;
  height: 1.5rem;
  width: 100%;
}

.actionBar .p-button {
  font-size: 0.8rem;
}

.actionDialog {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}

.noShow {
  visibility: hidden;
}

.redBorder {
  border: 1px solid red;
}

.gap-2 {
  gap: 0.5rem;
}

.justify {
  text-align: justify;
}

.left {
  text-align:left;
}

.ml-2 {
  margin-left: 0.5rem;
}
.ml-5 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-5 {
  margin-bottom: 2rem;
}
.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}
.mt-5 {
  margin-top: 2rem;
}

.bb {
  border-bottom: 1px dashed darkgrey;
}
.bl {
  border-left: 1px dashed darkgrey;
}
.br {
  border-right: 1px dashed darkgrey;
}
.bt {
  border-top: 1px dashed darkgrey;
}

.lh-2 {
  line-height: 2rem;
}

.attClimb {
    color: red;
}
.attCruise {
    color: darkgray;
}
.attDesc {
    color: green;
}

.attClimb {
    color: #400;
    background-color: rgba(255, 0, 0, 0.1);
}
.attCruise {
    color: #004;
    background-color: rgba(0, 0, 255, 0.1);
}
.attDescent {
    color: #040;
    background-color: rgba(0, 255, 0, 0.1);
}

.font-medium {
    font-size: 14px;
}

.font-small {
    font-size: 13px;
}
.font-smaller {
    font-size: 12px;
}
.font-large {
    font-size: 15px;
}
.font-larger {
    font-size: 17px;
}


@media print {
  @page {
    margin: 0.25in;
  }
  .printPageBreak {
    page-break-before: always;
    page-break-after: always;
    break-before: always;
    break-after: always;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .printOnePage {
    display: inline-block;
    width: 100%;
    height: 100%;
    page-break-inside: avoid;
  }  
  .printTwoPages {
    display: inline-block;
    width: 100%;
    height: 100%;
    page-break-inside: avoid;
  }  
}
